@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
}

.card-box {
    margin: 10vh auto;
    width: 90vw;
}

.card-box ul {
    display: flex;
    justify-content: space-between;
}

.card-box li {
    position: relative;
    transition: all .7s ease-in;
    flex: .5;
    margin: 10px;
    height: 80vh;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
}

.card-box li h3 {
    position: absolute;
    font-size: 24px;
    color: #fff;
    bottom: 20px;
    left: 20px;
    opacity: 0;
}

.card-box .active {
    flex: 5;
}

.card-box .active h3 {
    opacity: 1;
    transition: all 0.3s ease-in 0.4s;
}