* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #686de0;
}

.container {
    padding: 50px 20px;
    width: 800px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h3 {
    margin: 0;
    opacity: 0.5;
    letter-spacing: 2px;
}

.joke {
    margin: 50px auto;
    font-size: 30px;
    letter-spacing: 1px;
    max-width: 600px;
}

.btn {
    padding: 14px 40px;
    color: #fff;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #9f68e0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}