@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --primary-color: #22254b;
    --secondary-color: #373b69;
    --green-color: lightgreen;
    --orange-color: orange;
    --red-color: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    background-color: var(--secondary-color);
}

.search {
    padding: 8px 16px;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    outline: none;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    background-color: var(--primary-color);
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    position: relative;
    width: 300px;
    margin: 16px;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 3px;
}

.movie img {
    width: 100%;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 8px 16px 16px 16px;
    color: #fff;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-bottom: 20px;
}

.movie-info span {
    padding: 4px 8px;
    background-color: var(--primary-color);
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: var(--green-color);
}

.movie-info span.orange {
    color: var(--orange-color);
}

.movie-info span.red {
    color: var(--red-color);
}

.movie .overview {
    position: absolute;
    transform: translateY(100%);
    left: 0;
    bottom: 0;
    padding: 32px;
    max-height: 100%;
    background-color: #fff;
    transition: all .3s ease-in;
}

.movie .overview h3 {
    margin: 20px 0;
}

.movie:hover .overview {
    transform: translateY(0);
}